
* {
    -fx-primary :  #1439ff;
    -fx-secondary : #39ff14;
    -fx-primarytext : white;
    -fx-blue: #011efe;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
    -fx-font-weight: 20pt;
}


.glyph-icon
{
    -fx-fill: -fx-primarytext;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 10pt;
 	   
}

.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field
{
	-fx-background-radius: 20px;
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

/*Login Screen Specific*/


.wrong-credentials
{
    -jfx-unfocus-color: #ef5350;
    -jfx-focus-color: #ef5350;
}

/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab{
    -fx-background-color: black ;
    -fx-font-size: 14pt;
}

.tab-header-background{
    -fx-background-color: transparent;
}

.tab-label{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 14pt; 
}


.tab-main{
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

.settings-tab{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected{
    -fx-background-color: -fx-secondary;
}

.settings-tab:selected .tab-label{
    -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background{
    -fx-background-color: derive(-fx-primary, -50%);
}

/*Toolbar buttons*/
.toolbar-button
{
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon, .toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}

/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}

/*Dialog styling*/
.dialog-button{
    -fx-border-color: -fx-color-1;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 3px;
}

.dialog-button:hover{
    -fx-background-color: -fx-color-1;
    -fx-border-color: derive(-fx-color-1, -20%);
    -fx-text-fill: white;
}

.jfx-layout-actions
{
    -fx-hgap:8;
}



/*About window*/
.about-text{
    -fx-fill: -fx-secondary;
}

.about-button{
    -fx-border-color: transparent;
}

/*Custom window background*/
.custom-pane{
    -fx-background-color: derive(-fx-primary, 5%);
}


/*JFXDialog styling*/
.jfx-layout-heading
{
    -fx-background-color: -fx-color-1;
}
.jfx-layout-heading .label
{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}
.jfx-layout-body, .jfx-layout-actions{
    -fx-background-color: -fx-primary;   
}
.jfx-layout-body .label
{
    -fx-text-fill: white;
    -fx-padding: 20px 0 0 0;
}


/*Dashboard label*/
.not-available 
{
    -fx-background-radius: 5px;
    -fx-fill: derive(blue, 80%);
    -fx-cursor: hand;
}

/*Checkbox*/

.checkbox-main{
    -fx-text-fill: -fx-secondary; 
    -jfx-checked-color: -fx-primary;
    -fx-font-size: 10pt;
}

/*Progrss bar*/

.progress-bar-main .track{
    -fx-background-color: -fx-primary;
}
.progress-bar-main .bar{
    -fx-background-color: -fx-secondary;
    -fx-padding: 5px;
}

.common-label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
}

/*Alert Dialog*/

.custom-alert{
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
}
.custom-alert > *.button-bar > *.container{
    -fx-background-color: -fx-primary;
}
.custom-alert > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel{
    -fx-background-color: -fx-blue;
}
.custom-alert:header  .header-panel .label {
    -fx-font-style: normal;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -fx-primary;
}